@model DeliveryOrderItem

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/form.css" />

<main class="flex-fill d-flex justify-content-center align-items-center">
    <div class="login-container col-11 col-sm-10 col-md-6 col-lg-4">
        <h1 class="text-center">Edit</h1>
        <h4 class="text-center">Delivery Order Item</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DeliveryOrderItemId" />

                    <div class="form-group my-2">
                        <label asp-for="DeliveryOrderId" class="control-label"></label> <span class="text-danger">*</span>
                        <select asp-for="DeliveryOrderId" class="form-control" asp-items="ViewBag.DeliveryOrderId"></select>
                        <span asp-validation-for="DeliveryOrderId" class="text-danger"></span>
                    </div>

                    <div class="form-group my-2">
                        <label asp-for="ItemId" class="control-label"></label> <span class="text-danger">*</span>
                        <select asp-for="ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
                        <span asp-validation-for="ItemId" class="text-danger"></span>
                    </div>

                    <div class="form-group my-2">
                        <label asp-for="Quantity" class="control-label"></label> <span class="text-danger">*</span>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<div class="text-center mt-4">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
